<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="dataConfiguration"
      type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration
      .DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data"
      requirePermission="true"/>
  </configSections>
  <dataConfiguration defaultDatabase="ExampleDatabase"/>
  <connectionStrings>
    <add name="ExampleDatabase" connectionString="Data Source=192.168.1.210;Initial Catalog=NBCMS;User id=sa;Password=abc123@;"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>